---
import { COMPANIES } from "../data/companies";

interface Company {
  name: string;
  category: string;
  description: string;
  facebook: string;
  instagram: string;
  twitter: string;
  linkedin: string;
  careers: string;
  city: string;
}
// company names have a space while logo names have underscores for the space
const formatCompanyNameToLogoName = (name) =>
  name.replace(/ /g, "_").toLowerCase();
---

<div class="company-grid">
  {
    [...COMPANIES]
      .sort((a, b) => a.name.localeCompare(b.name))
      .map(
        ({
          name,
          city,
          description,
          careers,
          facebook,
          instagram,
          twitter,
          linkedin,
        }: Company) => (
          <div class="company-card">
            <img
              class="logo-sizing"
              src={`logos/${formatCompanyNameToLogoName(name)}.jpg`}
              alt={`${name} Logo`}
            />
            <h2 class="companyH2">{name}</h2>
            <p class="lead-city">{city}</p>
            <p class="description-copy">{description}</p>
            {/* company career page */}
            <p>
              <a href={careers} target="_blank" rel="noopener noreferrer">
                {name} Careers
              </a>
            </p>
            {/* FACEBOOK */}
            <p>
              {/* FACEBOOK */}
              {facebook.length > 0 ? (
                <a
                  href={`https://www.facebook.com/${facebook}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill="currentColor"
                      d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m2.274 6.634h-1.443c-.171 0-.361.225-.361.524V8.6h1.805l-.273 1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545v-.874c0-1.254.87-2.273 2.064-2.273h1.443z"
                    />
                  </svg>
                </a>
              ) : (
                <span>No Facebook profile</span>
              )}
              {/* INSTAGRAM */}
              {instagram.length > 0 ? (
                <a
                  href={`https://www.instagram.com/${instagram}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill="currentColor"
                      d="M13 10a3 3 0 1 1-6 0q.001-.257.049-.5H6v3.997c0 .278.225.503.503.503h6.995a.503.503 0 0 0 .502-.503V9.5h-1.049q.048.243.049.5m-3 2a2 2 0 1 0-.001-4.001A2 2 0 0 0 10 12m2.4-4.1h1.199a.3.3 0 0 0 .301-.3V6.401a.3.3 0 0 0-.301-.301H12.4a.3.3 0 0 0-.301.301V7.6c.001.165.136.3.301.3M10 .4A9.6 9.6 0 0 0 .4 10a9.6 9.6 0 0 0 9.6 9.6a9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 10 .4m5 13.489C15 14.5 14.5 15 13.889 15H6.111C5.5 15 5 14.5 5 13.889V6.111C5 5.5 5.5 5 6.111 5h7.778C14.5 5 15 5.5 15 6.111z"
                    />
                  </svg>
                </a>
              ) : (
                <span>No Instagram profile</span>
              )}
              {/* TWITTER */}
              {twitter.length > 0 ? (
                <a
                  href={`https://www.twitter.com/${twitter}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill="currentColor"
                      d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m3.905 7.864q.005.123.005.244c0 2.5-1.901 5.381-5.379 5.381a5.34 5.34 0 0 1-2.898-.85q.221.026.451.025c.886 0 1.701-.301 2.348-.809a1.895 1.895 0 0 1-1.766-1.312a1.9 1.9 0 0 0 .853-.033a1.89 1.89 0 0 1-1.517-1.854v-.023c.255.141.547.227.857.237a1.89 1.89 0 0 1-.585-2.526a5.38 5.38 0 0 0 3.897 1.977a1.891 1.891 0 0 1 3.222-1.725a3.8 3.8 0 0 0 1.2-.459a1.9 1.9 0 0 1-.831 1.047a3.8 3.8 0 0 0 1.086-.299a3.8 3.8 0 0 1-.943.979"
                    />
                  </svg>
                </a>
              ) : (
                <span>No Twitter profile</span>
              )}
              {/* linkedin */}
              {linkedin.length > 0 ? (
                <a
                  href={`https://www.linkedin.com/company/${linkedin}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill="currentColor"
                      d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z"
                    />
                  </svg>
                </a>
              ) : (
                <span>No Linkedin profile</span>
              )}
            </p>
          </div>
        ),
      )
  }
</div>

<style>
  .company-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
  }
  .company-card {
    border: 0.003rem dashed #88a8c98f;
    padding: 0.2rem 1rem 1.5rem 1rem;
    border-radius: 7px;
    background-color: white;
  }

  .logo-sizing {
    margin-top: 1rem;
    height: 2.75rem; /* Tailwind h-10: 40px */
    width: 2.75rem; /* Tailwind w-10: 40px */
    max-width: 2.75rem; /* Tailwind max-w-10: 40px */
    border-radius: 9999px; /* Tailwind rounded-full */
  }

  .companyH2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .lead-city {
    margin: 0.25rem 0rem 0.5rem;
    color: #757575;
  }

  .description-copy {
    font-size: 0.8rem;
  }
</style>
